<?xml version="1.0" encoding="utf-8" ?>
<plugin version="php">
    <id>OneQRCPay</id>
    <name>一码付</name>
    <url>https://github.com/lanseyujie/ZBlogPHPApps/tree/master/plugin/OneQRCPay</url>
    <note>微信、支付宝扫码支付</note>
    <description>微信、支付宝扫描同一二维码进行付款</description>
    <path>main.php</path>
    <include>include.php</include>
    <level>1</level>
    <author>
        <name>Wildlife</name>
        <email>admin@lanseyujie.com</email>
        <url>https://lanseyujie.com</url>
    </author>
    <source>
        <name></name>
        <email></email>
        <url></url>
    </source>
    <adapted>150101</adapted>
    <version>1.0</version>
    <pubdate>2017-09-27</pubdate>
    <modified>2017-09-29</modified>
    <price>0</price>
    <phpver>5.3</phpver>
    <advanced>
        <dependency></dependency>
        <rewritefunctions></rewritefunctions>
        <existsfunctions></existsfunctions>
        <conflict></conflict>
    </advanced>
    <sidebars>
        <sidebar1></sidebar1>
        <sidebar2></sidebar2>
        <sidebar3></sidebar3>
        <sidebar4></sidebar4>
        <sidebar5></sidebar5>
    </sidebars>
</plugin>