<?xml version="1.0" encoding="utf-8" ?>
<plugin version="php">
    <id>ContextMenu</id>
    <name>右键菜单</name>
    <url>https://github.com/lanseyujie/ZBlogPHPApps/tree/master/plugin/ContextMenu</url>
    <note>自定义右键菜单</note>
    <description>替换系统右键菜单使用自定义右键菜单</description>
    <path>main.php</path>
    <include>include.php</include>
    <level>1</level>
    <author>
        <name>Wildlife</name>
        <email>admin@lanseyujie.com</email>
        <url>https://lanseyujie.com</url>
    </author>
    <source>
        <name></name>
        <email></email>
        <url></url>
    </source>
    <adapted>150101</adapted>
    <version>1.5</version>
    <pubdate>2016-06-23</pubdate>
    <modified>2017-08-26</modified>
    <price>0</price>
    <phpver>5.3</phpver>
    <advanced>
        <dependency></dependency>
        <rewritefunctions></rewritefunctions>
        <existsfunctions></existsfunctions>
        <conflict></conflict>
    </advanced>
    <sidebars>
        <sidebar1></sidebar1>
        <sidebar2></sidebar2>
        <sidebar3></sidebar3>
        <sidebar4></sidebar4>
        <sidebar5></sidebar5>
    </sidebars>
</plugin>