<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>CHAvatar</id>
<name>修改头像</name>
<url>https://lanseyujie.com</url>
<note>注册用户可以自定义本地头像</note>
<description></description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>森林生灵</name>
  <email>admin@lanseyujie.com</email>
  <url>https://lanseyujie.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.1</version>
<pubdate>2017-02-04</pubdate>
<modified>2018-04-22</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>