<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
    <id>UserSwitching</id>
    <name>用户切换</name>
    <url>https://lanseyujie.com</url>
    <note>用户切换</note>
    <description>开发辅助工具，快速用户切换</description>
    <path></path>
    <include>include.php</include>
    <level>1</level>
    <author>
        <name>森林生灵</name>
        <email>admin@lanseyujie.com</email>
        <url>https://lanseyujie.com</url>
    </author>
    <source>
        <name></name>
        <email></email>
        <url></url>
    </source>
    <adapted>151935</adapted>
    <version>1.0</version>
    <pubdate>2019-03-20</pubdate>
    <modified>2019-03-23</modified>
    <price>0</price>
    <phpver>5.6</phpver>
    <advanced>
        <dependency></dependency>
        <rewritefunctions></rewritefunctions>
        <existsfunctions></existsfunctions>
        <conflict>AnquanLogin|LiangbuLogin</conflict>
    </advanced>
    <sidebars>
        <sidebar1></sidebar1>
        <sidebar2></sidebar2>
        <sidebar3></sidebar3>
        <sidebar4></sidebar4>
        <sidebar5></sidebar5>
    </sidebars>
</plugin>
